.borderLogin{
    border-bottom-style:inset;
    border-top-style:outset;
    padding-bottom:20px;
    padding-top:20px;
    background-color:#3cba54;
}

.arkText{
    color:white;
    font-weight: bold;
    font-size:200%;
}
#custom-search-input{
    position:fixed;
    top: 40%;
    left: 25%;
    right:25%;
    padding: 1px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#loginButton {
    padding-left: 80px;
}
