.borderLogin{
    border-bottom-style:inset;
    border-top-style:outset;
    padding-bottom:20px;
    padding-top:20px;
    background-color:#3cba54;
}

.arkText{
    color:white;
    font-weight: bold;
    font-size:200%;
}

.nameText{
    font-weight: bold;
    font-size:100%;
    width: 320px;
    padding: 10px;
    border: 0px;
    margin: 0;
}

#par {
    position:fixed;
    top: 20%;
}

#custom-search-input{
    padding: 1px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

@media (max-width: 768px) {
    #name {
        display: none;
    }
}

#img {
    width: 75%;
}

.divv {
    width: 33%
}

.abstractText {
    font-size: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
}

