.borderLogin{
    border-bottom-style:inset;
    border-top-style:outset;
    padding-bottom:20px;
    padding-top:20px;
    background-color:#3cba54;
}

.arkText{
    color:white;
    font-weight: bold;
    font-size:200%;
}

.nameText{
    font-weight: bold;
    font-size:100%;
    width: 320px;
    padding: 10px;
    border: 0px;
    margin: 0;
}

/*#tabel{
	bottom: 20px;
	left: -382.5px;
	margin: 0px auto 0px 50%;
	margin-left: 50%;
	position: fixed;
	width: 765px;
}*/

#par {
    position:fixed;
    top: 18%;
}

#custom-search-input{
    padding: 1px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

@media (max-width: 768px) {
    #name {
        display: none;
    }
}

.divv {
    width: 33%
}

#img {
    width: 75%;
}

#sources {
    font-weight: bold;
    font-size: 150%;
}

.buttonGlyphicon{
    padding: 10px 20px;
    font-size: 20px;
}

.table thead th { 
  background-color: #f2f2f2;
}



